	input.error {border: 1px solid red;}   
    body {font-size:12px;}
    .om-button {font-size:12px;}
    input {border: 1px solid #A1B9DF; vertical-align: middle;}
    input:focus{border: 1px solid #3A76C2;}
    .om-calendar input:focus, .om-combo input:focus{border: none;}
    .sex {width: auto;border:none;}
    .sex:focus{border:none;}
    .input_slelct {width: 81%;}
    .textarea_text {border: 1px solid #A1B9DF; height: 40px;width: 445px;}
    table.grid_layout tr td {font-weight: normal; height: 15px; padding: 5px 0; vertical-align: middle;}
    .color_red { color: red; }
    .toolbar { padding: 12px 0 5px;text-align: center; }
    .separator { border-top:1px solid #adadad; height: 2px; line-height: 2px; overflow: hidden; }
    .address {width:445px;}
    .om-span-field input:focus {border:none;}
    .errorImg{background: url("apusic/images/msg_bg.png") no-repeat scroll 0 0 transparent;height: 16px;width: 16px;cursor: pointer;}
    .errorMsg{border: 1px solid gray;background-color: #FCEFE3;display: none;position: absolute;margin-top: -18px;margin-left: 18px;}
    .display {color: gray;font-size: 13px;}
 	.querycontent {color: blue; font-size: 12px; width: 500px;}
